<div class="content">

  <div class=" card ">
    <div class=" card-header">
      <div class=" row">
        <div class=" col-sm-12 text-center">
          <h1 class="card-title"> Cadena de tiendas El gato empresario - sucursal Cali/Bogotá/Medellín</h1>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h2 class="fw-bold card-title">Módulo Ventas</h2>
        </div>
        <div class=" card-body">
          <div class="row">

            <div class="col-2">
              <h4>Ciudad</h4>
            </div>
            <div class="col-5">
              <h4>Cedula</h4>
            </div>
            <div class="col-4">
              <h4>Cliente</h4>
            </div>
            <div class="col-1">
              <h4>Consec.</h4>
            </div>

          </div>

          <div class="row align-items-end justify-content-center">

            <div class=" col-md-2 pr-md-1">
              <div class=" form-group">
                <select [(ngModel)]="ciudad">
                    <option selected>Seleccionar .....</option>
                    <option value="1">Bogotá</option>
                    <option value="2">Medellin</option>
                    <option value="3">Cali</option>
                </select>
              </div>
            </div>

            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">

                <input class=" form-control" placeholder="Cédula" type="text" 
                [(ngModel)]="cedulacliente"
                (input)="getCliente()">
              </div>
            </div>



            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Cliente" type="text"
                style="color: white;" 
                readonly
                [(ngModel)]="nombrecliente">
              </div>
            </div>

            <div class=" col-md-1 pl-md-1">
              <div class=" form-group">
                <input class=" form-control" readonly type="text"
                style="color: white;"
                [(ngModel)]="consecutivo" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class=col-sm-4>
              <h4>Codigo Producto</h4>
            </div>
            <div class=col-sm-4>
              <h4>Nombre Producto</h4>
            </div>
            <div class=col-sm-1>
              <h4>Cant.</h4>
            </div>
            <div class=col-sm-3>
              <h4>Vlr. Total</h4>
            </div>


          </div>
<!--Producto1-->
          <div class=" row">

            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Codigo1" type="text"
                [(ngModel)]="codprod1" />
              </div>
            </div>

            <div class="col-md-1">
              <button class=" btn btn-sm btn-success" type="submit"
              (click)="getProducto(1)"
              >Consultar</button>
            </div>

            <div class=" col-md-4 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="NombreProducto" type="text"
                [(ngModel)]="product1[0].nombreproducto"
                style="color: white;"
                readonly/>
              </div>
            </div>

            <div class=" col-md-1 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="Cantidad" type="text"
                [(ngModel)]="cant1" (input)="calcPrecioProd(1)" />
              </div>
            </div>

            <div class=" col-md-3 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="ValorTotal" type="text"
                [(ngModel)]="precioprod1"
                readonly="readonly" value="0"
                style="color: white;" />
              </div>
            </div>

          </div>

          <div class=" row">

            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Codigo1" type="text"
                [(ngModel)]="codprod2" />
              </div>
            </div>

            <div class="col-md-1">
              <button class=" btn btn-sm btn-success" type="submit"
              (click)="getProducto(2)">
              Consultar
            </button>
            </div>

            <div class=" col-md-4 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="NombreProducto" type="text"
                [(ngModel)]="product2[0].nombreproducto"
                style="color: white;"
                readonly/>
              </div>
            </div>

            <div class=" col-md-1 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="Cantidad" type="text"
                [(ngModel)]="cant2" (input)="calcPrecioProd(2)" />
              </div>
            </div>

            <div class=" col-md-3 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="ValorTotal" type="text"
                [(ngModel)]="precioprod2"
                style="color: white;"
                readonly="readonly" value="0" />
              </div>
            </div>

          </div>

          <!--Producto3-->
          <div class=" row">

            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <input class=" form-control" placeholder="Codigo1" type="text"
                [(ngModel)]="codprod3" />
              </div>
            </div>

            <div class="col-md-1">
              <button class=" btn btn-sm btn-success" type="submit"
              (click)="getProducto(3)"
              >Consultar
            </button>
            </div>

            <div class=" col-md-4 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="NombreProducto" type="text"
                readonly="readonly"
                style="color: white;"
                [(ngModel)]="product3[0].nombreproducto" />
              </div>
            </div>

            <div class=" col-md-1 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="Cantidad" type="text"
                [(ngModel)]="cant3" (input)="calcPrecioProd(3)" />
              </div>
            </div>

            <div class=" col-md-3 pl-md-1">
              <div class="form-group">
                <input class=" form-control" placeholder="ValorTotal" type="text"
                [(ngModel)]="precioprod3"
                style="color: white;"
                readonly="readonly" value="0" />
              </div>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-8 text-center">
              
                <button class=" btn btn-xl btn-success" type="submit"
                (click)="postVenta()"
                >CONFIRMAR
              </button>

              <button type="button" class="btn btn-warning btn-sm" (click)="reload()">
                <i class="fas fa-sync-alt"></i> Recargar pagina
            </button>
              
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-3">
                  <h4>total venta</h4>
                </div>
                <div class="form-group col-sm-9 pl-md-1">
                  <input class="form-control" type="text"
                  [(ngModel)]="totalventa">
                </div>

              </div>
              <div class="row">
                <div class="col-sm-3">
                  <h4>total IVA</h4>
                </div>
                <div class="form-group col-sm-9 pl-md-1">
                  <input class="form-control" type="text"
                  [(ngModel)]="totaliva">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <h4>Valor total</h4>
                </div>
                <div class="form-group col-sm-9 pl-md-1">
                  <input class="form-control" type="text"
                  [(ngModel)]="totalplusiva">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


