<div class=" content animate__animated animate__fadeIn animate__slow">
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
              <div class=" col-sm-12 text-left">
                  <h5 class=" card-category">Tienda virtual</h5>
              <h2 class=" card-title"> Consolidado de ventas por ciudad</h2>
          </div>
          </div>
        </div>
      </div>  

      <div class=" col-md-12" >
          <div class=" card card-user" style="width: 400px; margin: auto auto;">
            <div class=" card-header">
              <h2 class="card-title">Tabla de ventas</h2>
            </div>
            <div class=" card-body">
              <div class=" table-responsive">
                <table class=" table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>Ciudad</th>
                      <th class=" text-center">Cantidad total de ventas</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dato of contenido">
                      <td>{{dato.ciudad}}</td>
                      <td class=" text-center">{{dato.totalventas}}</td>
                    </tr>
    
                  </tbody>
                </table>
              </div>
            </div>
            <div class=" card-footer ">
              <div class="text-center mb-1">
                <button class=" btn btn-outline-secondary " type="submit" (click)="reloadCurrentPage()"><i
                    class="fas fa-sync"></i></button>
              </div>
    
            </div>
          </div>
        </div>
    
      </div>
    </div>