<!--reemplazaar en consolidado-->
<div class="content">
  <div class=" card ">
    <div class=" card-header">
      <div class=" row">
        <div class=" col-sm-12 text-center">
          <h1 class="card-title"> Cadena de tiendas El gato empresario - Consolidados</h1>
        </div>
      </div>
    </div>
  </div>

  <div class=" row">
    <div class=" col-md-12">
      <div class="card">
        <div class=" card-header">
          <h2 class="fw-bold card-title">Módulo Consolidado</h2>
        </div>
        <div class=" card-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Medellín</span>
            </div>
            <input class="form-control" type="text" placeholder="medallo">

          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Bogotá</span>
            </div>
            <input class="form-control" type="text" placeholder="Tábogo">
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Cali</span>
            </div>
            <input class="form-control" type="text" placeholder="lo demas es loma" >
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
